// COLORES
$green: #88eca7;
$blue: #2D3047;
$black: #071013;
$white: #FFFFFF;

// FONT FAMILY
$lato: 'Lato', sans-serif;

// PESO DE FUENTE
$lato-black: 900;
$lato-bold: 700;
$lato-regular: 400;
$lato-light: 300;

// TAMAÑO FUENTE
$xxx-large: 60px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
