.section-contact__text{
  margin-top: .5rem;
}

.section-contact h1{
  margin-bottom: 0;
}

.section-contact__form {
  display: flex;
  flex-direction: column;
}

.section-contact__form-input{
  padding-top: 6px;
  padding-bottom: 6px;
}

.section-contact{
  margin-bottom: 5rem;
}
