.section-education h3{
  margin-bottom: 0;
  flex-grow: 1;
}

.section-education__p{
  margin: 0rem;
}

.section-education__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-education__date{
  margin-bottom: 0;
}
